@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Oxygen:wght@300;400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
  margin: 0;
}
body{
    font-family: "Comfortaa", serif;
  font-style: normal;
}
header{
  width: 100%;
  height: 70px;
}
.header {
    font-family: "Source Serif 4", serif;
    background-color: rgb(255, 164, 179);
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    width: 100%;
    top: 0;
    opacity: 1;
  }
  header h1{
    color:white;
    align-items: center;
  }
  .nav{
    margin-top: 30px;
    margin-left: 350px;
    gap: 40px;
    color: white;
  }
  ion-icon {
    font-size: 30px;
    color:white;
  }
  .nav{
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  .nav a:hover{
    transform:scale(1.2) ;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    text-decoration: underline;
    }

    .navbar2 {
      margin-top: 25px;
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
    }
  .navbar2 a {
    padding:6px;
    color: white;
    text-decoration:none
      }
.navbar2 a:hover{
  transform:scale(1.2) ;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  
}
main{
  width: 100%;
  height: 600px;
}
    .location img{
      width: 550px;
      height: 550px;
    }
    .location{
      display: flex;
      justify-content: space-around;
        color: #eee;
        margin-top: 100px;
       width: 100%;
       height: 600px;
    }
    .paragraf{
      font-size: 25px;
      margin-top: 100px;
    }
   .paragraf h1{
    color: black;
   }
   .paragraf p{
    margin-top: 30px;
    margin-right:40px ;
    font-size: 30px;
    color: black;
   }
   footer{
    background-color: pink;
    margin-top: 30px; 
    border-radius: 12px;
    padding: 20px;
  }
  
  .footer1 a:hover{
    transform:scale(1.1) ;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  }
  .footer1{
    display: flex;
    justify-content: space-around;
  }
  .footer1 a{
    color: black;
  }
  .footer2{
    margin-top: 35px;
  }
  .footer2 ion-icon{
    color: black;
  }
      
      
   